<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>new_features_0.jpg</string>
	<string>new_features_1.jpg</string>
	<string>new_features_2.jpg</string>
	<string>new_features_3.jpg</string>
</array>
</plist>
