<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TTD.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1E17B3FF5438F05F0FFC15E70D393119147032A8</string>
				<key>dateExpires</key>
				<string>2018/9/11</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YNGZKAK74D.com.thinktank.ttd.mcp</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>YNGZKAK74D</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>TTD.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b14a73bb-583a-4c83-a089-b50393008e40</string>
				<key>name</key>
				<string>XC iOS: com.thinktank.ttd.mcp</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YNGZKAK74D</string>
				<key>name</key>
				<string>ChungShun Wei</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
